<div id="macroPanel" class="col-lg-6 col-md-6">
    <div class="panel panel-default" data-ng-controller="MacroCtrl as macroVM">
        <div class="panel-heading">
            <span translate>Macros</span>
            <div class="pull-right">
                <button class="btn btn-xs btn-primary" data-ng-click="macroVM.refreshMacros()" translate>Refresh</button>
                <button class="btn btn-xs btn-primary" data-ng-click="macroVM.progress()" translate>Progress</button>
                <button class="btn btn-xs btn-primary" data-ng-click="macroVM.abort()" translate>Abort</button>
                <button class="btn btn-xs btn-primary" data-ngf-select="macroVM.uploadMacro($file)" data-ngf-accept="'.gco,.gcode'" translate>Upload</button>
            </div>
        </div>
        <div class="panel-body panel-height panel-scroll">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="macro in macroVM.macroList">
                    <div class="row">
                        <div class="col-md-4 col-sm-5" data-ng-bind="macro.filename"></div>
                        <div class="col-md-4 col-sm-5"><uib-progressbar class="progress-striped active" data-ng-show="macro.uploading" value="macro.percentage"><span data-ng-bind="macro.percentage + '%'" data-ng-hide="macro.percentage < 5"></span></uib-progressbar></div>
                        <div class="col-md-4 col-sm-2">
                            <div class="pull-right">
                                <button class="btn btn-xs btn-default" data-ng-click="macroVM.deleteMacro(macro)" translate>Delete</button>
                                <button class="btn btn-xs btn-default" data-ng-click="macroVM.print(macro.filename)" translate>Print</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
